@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
  position: relative;
  background-color: rgb(249, 245, 246);
}

li {
  list-style: none;
}
