.banner_wrapper {
  padding: 0 80px;
}

.banner_wrapper_mobile {
  padding: 0 30px;
}

.text_center {
  text-align: center;
}

.card_list {
  display: flex;
  gap: 20px; /* Adjust gap between cards as needed */
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_list_3 {
  display: flex;
  gap: 20px; /* Adjust gap between cards as needed */
  flex-wrap: wrap;
  justify-content: flex-start;
}
