/* Card.module.css */

.card {
  width: calc(25% - 20px);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 50px;
}

.card_tab {
  width: calc(33% - 20px);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 50px;
}

.card_mobile {
  width: calc(100% - 20px);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 50px;
  z-index: 1;
}

.card:hover {
  transform: translateY(-5px);
}

.card_image {
  width: 100%;
  height: 200px; /* Adjust image height as needed */
  object-fit: cover;
}

.card_content {
  padding: 16px;
}

.card_title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card_description {
  font-size: 1rem;
  color: #666;
}
