/* Carousel.module.css */

.carousel {
  position: relative;
  width: 100%;
  /* max-width: 600px; Adjust as needed */
  margin: 0 auto;
  overflow: hidden; /* Ensure overflow is hidden for smooth transitions */
  max-height: 650px;
}

.carousel_image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease; /* Add transition for smooth slide animations */
}

.carousel_control {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for button background color */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.text_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center; /* Center align text */
  width: 100%; /* Ensure text overlay takes full width */
  padding: 20px; /* Adjust padding as needed */
  z-index: 1; /* Ensure text overlay is above the image */
}

.browse_listing {
  border: none;
  /* background: #00b3b3; */
  background: linear-gradient(90deg, #00b3b3, #00e699);
  padding: 16px 31px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

/* .text_overlay h2,
.text_overlay p {
  margin: 0;
} */
