.header_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  height: 80px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.header_main_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu_container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu_list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu_items {
  cursor: pointer;
  position: relative;
}

.menu_items:hover {
  color: #00b3b3;
  /* border-bottom: 1px solid red; */
}

.menu_items:hover::before {
  content: "";
  position: absolute;
  top: 30px;
  background: #00b3b3;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  left: calc(50% - 8px);
}

.join_btn {
  border: none;
  /* background: #00b3b3; */
  background: linear-gradient(90deg, #00b3b3, #00e699);
  padding: 16px 31px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.menu_bar {
  cursor: pointer;
}

/* .toggle_button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
} */

.toggle_button svg {
  vertical-align: middle;
  margin-right: 5px;
}

.menu {
  padding-top: 50px; /* Adjust based on your design */
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  padding: 10px 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.menu ul li:hover {
  color: #00b3e1;
}

.top_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cross_icon {
  color: white;
  font-size: 18px;
}
