/* OffCanvasMenu.module.css */

.off_canvas_menu {
  padding: 20px;
  position: fixed;
  top: 0;
  left: -300px; /* Off-canvas position */
  width: 300px;
  height: 100%;
  background-color: #4c0156;
  transition: left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Smooth cubic-bezier transition */
}

.open {
  left: 0;
}
